<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="shortcut icon" href="/static/news/images/favicon.ico" />
    <title>vknews - агрегатор новостей vk.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="/static/news/css/custom.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
	<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container">
    <div class="bg"></div>
    <div class="jumbotron">
	    <h1>Новости вконтакте</h1>
	    <p class="lead">Поиск новостей вконтакте с фильтром по городу</p>
    </div>
    <div class="row">
	<div class="col-xs-3">
	</div>
	<div class="col-xs-9">
	    <div id="Maintenance Text">
		<p>
		    <img src="/static/news/images/chipndeil.png" />
		</p>
		<h3>Чип и Дейл уже спешат на помощь</h3>
		<p>Ведутся работы и, к сожалению, сервис сейчас не доступен.</p> 
		<p>Мы будем с вами в самое ближайшее время</p>
	    </div>
	</div>
    </div>
</div>
</body>
<script src="/static/news/js/para.js" type="text/javascript" language="javascript"></script>
<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter24845951 = new Ya.Metrika({id:24845951, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/24845951" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
</html>



  
